@font-face {
    font-family: 'Rosehot';
    src: url(../Fonts/Rosehot.ttf);
}

.FaqMain{
    font-family: Rosehot;
}

.dropDown{
   background-color: wheat;
}

.dropDown1{
    background-color: rgb(172, 238, 216);
}
.conFaq{
    background-color: white;
}
.conFaq1{
    background-color: white;
    box-shadow: 5px 5px 5px 5px whitesmoke;
}