@font-face {
    font-family: 'Rosehot';
    src: url(../Fonts/Rosehot.ttf);
}

.Userbg{
    background-color: wheat;
}

.otherMain1{
    background-color: black;
}

.otherMain{
    font-family: Rosehot;
}

.postBG{
    background-color: rgb(240, 240, 240);
}

.CL{
    background-color: gainsboro;
}