// @font-face {
//     font-family: 'Mozilla';
//     src: url(./Fonts/MozillaHeadline-ExpandedBold.ttf);
// }

// p {
//     font-family: Mozilla;
// }

// .UserData {
//     background-image: url(./img/Proiflebg.jpg);
//     background-position: center;
//     background-size: cover;
//     height: 115vh;
//     display: grid;
//     place-items: center;

//     h1 {
//         margin-bottom: 15rem;
//         text-align: center;
//         font-size: 40px;
//         font-weight: 800;
//         color: white;
//         font-family: Mozilla;
//     }

//     .container {
//         position: relative;
//         bottom: 13rem;
//         text-align: center;
//         background-color: white;
//         display: grid;
//         place-items: center;
//         width: 24rem;
//         height: 40vh;
//         border-radius: 8px;
//         color: green;
//         box-shadow: 5px 5px 5px gray;
//         font-weight: 600;

//         span{
//             width: 40px;
//             height: 10px;
//             img{
//                 width: 40px;
//                 height: 35px;
//             }
//         }

//         P {
//             margin-top: 3rem;
//         }
//     }
// }

// h2 {
//     color: rgb(19, 226, 19);
//     font-family: Mozilla;
//     align-items: center;
//     font-size: 24px;
// }

// @media (max-width:500px) {

//     .UserData{
//         width: 30rem;
//     }
//     span{
//         position: absolute;
//         top: -0rem;
//     }

//     .email{
//         position: relative;
//         top: -6rem;
//     }
// }

.Otheruser{
    background-color: rgb(34, 33, 33);
    position: relative;
    top: -3rem;
    padding-top: 5rem;
    height: 110vh;
    font-family: Rosehot;
    h1{
        margin-bottom: 3rem;
        
    }
}