@font-face {
    font-family: 'Rosehot';
    src: url(../Fonts/Rosehot.ttf);
}

.read{
    font-family: Rosehot;
    color: blue;
    font-weight: 900;
    margin-top: 1rem;
}

.Contact1{
    border-radius: 10px;
    font-family: Rosehot;
    background-color: black;
    width: 28rem;
    height: 37rem;

    input{
        border: none;
        background-color: rgb(39, 36, 36);
    }

    textarea{
        background-color: rgb(39, 36, 36);
    }

    button{
        background-color: white;
        color: black;
    }

    button:hover{
        background-color: gold;
        color: white;
    }
}

.Notifications{
    .Notify{
        color: black;
        text-align: center;
        font-size: larger;
        font-family: Rosehot;
        font-weight: 600;

    }

    .commenT{
    color: black;
        font-size: 18px;
        cursor: pointer;
    }

    .noNotify{
        color: black;
        display: flex;
        gap: 1rem;
        place-content: center;
        font-size: 22px;
        margin-top: 5rem;
        text-align: center;
    }

    .userNotify{
        font-weight: 900;
        font-size: 24px;
    }
}


.PostContent{
    font-family: Rosehot;
    .PostContent1{
        width: 22rem;
    }
    
    margin-bottom: 2rem;
    font-family: Rosehot;
    display: grid;
    place-content: center;
    background-color: antiquewhite;

    img{
        border-radius: 8px;
        height: 20rem;
        width: 30rem;
        
    }
    h2{
        font-size: 24px;
        font-weight: 900;
    }

    p{
        font-size: 12px;
    }
}

.AllComments{
.Test{
    overflow-y: scroll;
    height: 20rem;
}

    overflow-y: hidden;
    font-family: Rosehot;
    background-color: rgb(22, 21, 21);
    height: 100vh;

    .HeadComment{
        display: grid;
        place-content: center;
    }

    h1{
        margin-top: 2px;
        border-left: 4px solid rgb(30, 228, 30);
        width: 14.5rem;
        text-align: center;
        font-size: 30px;
        color: white;
    }

    .DisplayComments{
        margin-bottom: 2rem;
        .comment{
            margin-top: 4px;
            margin-left: 12px;
            color: black;
            background-color: white;
            width: 17rem;
            padding-bottom: 2rem;
            border-radius: 8px;
        p{
            margin-left: 4px;
        }
        }

        .userCred{
            display: flex;
            gap: 8px;
            align-items: center;
            color: white;
        }

        img{
            border-radius: 10rem;
            height: 1.9rem;
            width: 1.8rem;
        }
    }

.InputComment{
    img{
        height: 2.2rem;
        width: 2.3rem;
        border-radius: 20px;
    }

    button{
        background-color: gold;
        margin-right: 2rem;
        width: 2rem;
        border-radius: 2rem;
        height: 2rem;
        position: relative;
        top: 10px;
        margin-left: 6px;
    }

    display: flex;
    align-items: center;
    gap: 1rem;
    place-content: center;
    position: relative;
    top: 5rem;

    .CommentInput{
        outline: none;
        border: 2px solid gold;
        width: 14rem;
        border-radius: 20px;
        padding: 5px;
        color: white;
    }
}
}

.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    border-radius: 8px;
    padding: 16px;
    max-width: 100vw;
    max-height: 90vh;
    padding-top: 3rem;
    overflow: auto;
    position: relative;
}

.modal-close{
    position: absolute;
    top: 8px;
    right: 5px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
}