
.ForgotPassword{
    height: 100vh;
    display: grid;
    place-content: center;
    overflow-x: hidden;
    .SubForgot{
        background-color: white;
        border-radius: 12px;
        display: grid;
        place-content: center;
        width: 30rem;
       h1{
        
        font-family: Rosehot;
        text-align: center;
        margin-bottom: 4rem;
        font-weight: 900;
    } 

    label{
        font-family: Rosehot;
        font-weight: 900;
        margin-left: 5px;
    }

    .input{
        margin-bottom: 2rem;
    }

    input{
        font-family: Rosehot;
        margin-left: 1rem;
        margin-right: 1rem;
        outline: none;
        border-radius: 10px;
        padding: 5px 40px;
        border: 3px solid gray;
    }

    button{
        background-color: black;
        padding: 8px;
        color: white;
        margin-left: 5.5rem;
        position: relative;
        font-family: Rosehot;
        font-weight: 900;
        border-radius: 8px;
        top: -4px;
        transition: background-color 0.5s ease-in-out;
    }
    button:hover{
        color: white;
        background-color: black;
    }
    }
    
    
}

.uSearch{
    font-family: Rosehot;
}